alias blog_jekyll="docker run --rm --volume="$PWD:/srv/jekyll" -p 4000:4000 -it jekyll/jekyll:3.8 \
  bash -c \"bundle install && bundle exec jekyll serve -H 0.0.0.0\""
alias resetrailgun='NO_CACHE=1 dev reset-railgun'
alias killaudio='sudo killall coreaudiod'
alias ...='cd /Users/svitlanadzyuban/src/github.com/Shopify'
alias rb=ruby
alias ....='cd ~/projects/'
alias ..='cd ..'
alias gts='git status'
alias gst='git status'
alias gdiff='git diff'
alias glog="git log"
alias gitshowfiles='git show --pretty="" --name-only'
alias ll='ls -la'
alias timestamp='date +%Y%m%d%H%M%S'
#alias pg="postgres -D /usr/local/var/postgres"
alias fakeserver="ruby -rwebrick -e'WEBrick::HTTPServer.new(:Port => 9090, :DocumentRoot => Dir.pwd).start'"
alias findbigfiles="sudo find / -type f -size +100000k -exec ls -lh {} \; | awk '{ print $9 \" : $5 \" }'"
alias gitsquash="git reset --soft HEAD~$(git rev-list --count HEAD ^master)"
#alias pg_start="launchctl load ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist"
#alias pg_stop="launchctl unload ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist"

